/*COMMON RULES*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover {
   color: #00D1FF;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.wrap {
    max-width: 1525px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*TITLES*/
.title-h1 {
    margin-top: 226px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
}
.title-h2 {
    margin-top: 8px;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #4B5868;
    line-height: 1.3;
}
.title-h2 .blue {
    color: #00D1FF;
}

/*BUTTONS*/
.btn-more {
    display: block;
    margin-right: 30px;
    padding: 19px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #143B69;
    background-color: #00D1FF;
    border: 1px solid #00D1FF;
    border-radius: 75px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-more:hover {
    color: #143B69;
    border-color: #00D1FF;
    background-color: #fff;
}
.btn-go {
    display: block;
    position: absolute;
    bottom: -22px;
    right: 26px;
    padding: 27px 18px 27px 40px;
    font-size: 15px;
    font-weight: 700;
    color: #143B69;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 4px 15px rgba(33, 75, 73, .1);
            box-shadow: 0 4px 15px rgba(33, 75, 73, .1);
}
.btn-go img {
    margin-left: 23px;
    vertical-align: middle;
}
.comments .btn-go {
    right: auto;
    left: 26px;
}
.flex-main .btn-more {
    margin-right: 0;
    margin-top: 58px;
    max-width: 249px;
    padding: 24px 15px;
    background-color: #fff;
}
.flex-main .btn-more:hover {
    background-color: #00D1FF;
    border-color: #00D1FF;
}

/*PAGE-HEADER*/
.page-header{ 
    padding-top: 43px;
    padding-bottom: 220px;
    background-image: url("../img/header-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.flex-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.main-menu {
    width: 708px;
}
.main-menu-item {
    display: inline-block;
}
.main-menu-link {
    margin-right: 58px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.main-menu-item:last-child {
    margin-right: 0;
}
.main-menu-link:hover {
    color: #00D1FF;
}
.grid-header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "a b" "a c" "a d";
}
.grid-item-1 {
    grid-area: a;
    color: #fff;
    font-weight: 500;
    line-height: 1.75;
}
.grid-item-1 .text {
    margin-bottom: 32px;
}
.buttons-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.buttons-header-item {
    width: 250px;
}
.social>p {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}
.social-item {
    display: inline-block;
    margin-right: 35px;
    width: 20px;
    height: 19px;
    background-image: url("../img/btn-social.png");
    background-repeat: no-repeat;
}
.youtube {
    background-position: 0 0;
}
.facebook {
    background-position: -60px 0;
}
.twitter {
    background-position: -120px 0;
}
.vkontakte {
    background-position: -183px 0;
}
.youtube:hover {
    background-position: 0 -31px;
}
.facebook:hover {
    background-position: -60px -31px;
}
.twitter:hover {
    background-position: -120px -31px;
}
.vkontakte:hover {
    background-position: -183px -31px;
}
.grid-item {
    justify-self: end;
    position: relative;
    margin-top: 38px;
    padding-right: 14px;
}
.info {
    position: absolute;
    top: 0;
    left: 0;
}
.number {
    margin-left: 15px;
    margin-top: 13px;
    font-family: Playfair Display;
    font-size: 25px;
    color: #fff;
}
.flex-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 140px;
    width: 262px;
}
.place {
    padding-left: 16px;
    font-family: Playfair Display;
    font-size: 20px;
    color: #fff;
}
.arrow {
    margin-bottom: 17px;
}
.item-2 {
    grid-area: b;
    margin-top: 85px;
}
.item-3 {
    grid-area: c;
}
.item-4 {
    grid-area: d;
}

/*PAGE-MAIN*/
.page-main {
    padding-top: 178px;
    padding-bottom: 113px
}
.flex-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.img-main {
    position: relative;
}
.img-main {
    border-radius: 15px;
    -webkit-box-shadow: -90px -97px 15px -65px rgba(181, 205, 203, .4);
            box-shadow: -90px -97px 15px -65px rgba(181, 205, 203, .4);
}
.flex-main .text {
    -ms-flex-preferred-size: 39.5%;
        flex-basis: 39.5%;
    font-size: 25px;
    font-weight: 600;
    color: rgba(33, 73, 54, .5);
}
.comments {
    margin-top: 200px;
}
.comments .img-main {
    -webkit-box-shadow: 90px -97px 15px -65px rgba(181, 205, 203, .4);
            box-shadow: 90px -97px 15px -65px rgba(181, 205, 203, .4);
}

/*PAGE-FOOTER*/
.page-footer {
    height: 658px;
    background-image: url("../img/footer-bg.png");
    background-size: 1920px 658px;
    background-position: center;
    background-repeat: repeat;
}
.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 642px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.item-footer {
    -ms-flex-preferred-size: 13%;
        flex-basis: 13%;
}
.page-footer .social {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
}
.link-footer {
    font-size: 14px;
    font-weight: 500;
    color: rgba(33, 73, 54, .5);
}
.page-footer .social-item {
    margin-right: 60px;
}
.page-footer .youtube {
    background-position: 0 -58px;
}
.page-footer .facebook {
    background-position: -60px -56px;
}
.page-footer .twitter {
    background-position: -120px -58px;
}
.page-footer .vkontakte {
    background-position: -183px -59px;
}
 .youtube:hover {
    background-position: 0 -31px;
}
.facebook:hover {
    background-position: -60px -31px;
}
.twitter:hover {
    background-position: -120px -31px;
}
.vkontakte:hover {
    background-position: -183px -31px;
}